<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 meximum-scale=3.0"
    />
    <title>Data Lab</title>
  </head>
  <body>
    <form class="form" method="GET" action="/stat">
      <input
        type="search"
        name="statSearch"
        placeholder="닉네임을 입력하세요. ex)개산벽"
        size="100"
      />
      <button type="submit">검색</button>
    </form>
    <div>
      {% block summonerInfo %} 전적검색 {% endblock %}
    </div>
    <br />
    <div>
      {% block rankInfo %}{% endblock %}
    </div>
    <br />
    <div>
      {% block matchInfo %}{% endblock %}
    </div>
    <br />
    <footer></footer>
  </body>
</html>
